<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CBT_Examination_System.Properties.Settings.ConnectionString"
            connectionString="Data Source=desktop-mtq1ug7\sqlexpress;Initial Catalog=CBTExamSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>